doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title= title
    link(rel='stylesheet', href='https://www.nextzen.org/js/nextzen.css')
    link(rel='stylesheet', href='/stylesheets/leaflet-areaselect.css')
    link(rel='stylesheet', href='/libs/mapzen/css/styleguide.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
